@font-face {
    font-family: report-1942;
    src: url(../fonts/1942_report/1942.ttf);
}

@font-face {
    font-family: HammerKeys;
    src: url(../fonts/hammer_keys/HAMMK___.TTF);
}

@font-face {
    font-family: RomanNewTimes;
    src: url(../fonts/roman_new_times/Roman_New_Times.otf);
}