@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
}

body {
    height: calc(100vh - 2rem);
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

header {
    margin-right: 1rem;
    writing-mode: vertical-rl;
    rotate: 180deg;
    display: flex;
    flex-direction: column;
    align-items: end;
}

nav {
    margin-left: 1rem;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    
    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    align-items: end;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 219px;

    textarea, input {
        resize: none;
        outline: none;
        padding: 0.25rem;
    }
}

.development {
    height: 100%;
    overflow-y: scroll;
    padding: 0 0.5rem;
    
    li {
        list-style: none;
        margin: 1rem 0;
    }

    a  {
        text-decoration: none;
        color: black;
    }
    
    .description {
        font-size: 0.75rem;
    }

    .techs {
        font-size: 0.5rem;
    }
}

.socials {
    min-width: 219px;

    img {
        width: 2rem;
        height: auto;
        margin: 0.5rem;
    }
}