@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
}

body {
    height: calc(100vh - 2rem);
    margin: 1rem;
    padding: 1rem;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

nav {
    width: 100vh;
    position: fixed;
    top: 2rem;
    left: 100vw;
    transform-origin: top left;
    transform: rotate(90deg);
    
    ul {
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

header {
    position: fixed;
    transform-origin: top right;
    transform: rotate(-90deg) translateY(-11rem);
}

.aboutme {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    align-items: end;

    p {
        max-width: 70%;
    }
}


